_DEFAULT_NETWORK	= 192.168.100.254/24
_DEFAULT_GATEWAY	= 192.168.100.254
_DEFAULT_DNS		= 168.95.1.1  140.110.16.1
_DEFAULT_WINS		= 192.168.100.11,  	192.168.100.12
_DEFAULT_DNS_SUFFIX   =drbl-winroll.org

[10.0.2.0/8]
_GATEWAY		= 10.0.2.2
_DNS			= 10.0.1.1
_WINS			= 		# it will unset wins information
# _DNS_Suffix		= 	# it will inherit DNS stuffix information form  _DEFAULT_DNS_SUFFIX

[192.168.0.0/24]
_GATEWAY		= 192.168.0.2
_DNS			= 192.168.0.1
# _WINS					# it will inherit wins information form  _DEFAULT_WINS

[IP Address]
00-0D-9D-9F-0E-6A = 192.168.100.2
00-0D-9D-9F-0E-6E = 10.0.3.17
08-00-27-CB-FF-2E = 192.168.0.3


